version: 1.0.{build}
image: Visual Studio 2015
environment:
  matrix:
    - platform: x86
      configuration: Release
    - platform: x64
      configuration: Release
matrix:
  fast_finish: false
build:
  parallel: true

